// 全局颜色

//边框颜色
$color-border-aside:rgba(255, 255, 255, 0.5);

//侧边栏字体颜色
$color-font-aside:rgba(255, 255, 255, 0.6);

//聊天窗口字体颜色
$color-font-chatbox: #374151;

//侧边栏设置弹窗字体颜色
$color-font-setting:rgba(138, 138, 138, 0.6)